$tablet: map-get($breakpoints, 'tablet') - 1;

@media (max-width: $tablet), (hover: none) {
  .container {
    position: fixed;
    top: 0;
    z-index: 0;

    width: 100vw;
    height: var(--window-height);

    overflow-y: scroll;
    overflow-x: hidden;
    background: white;

    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
  }

  .disableScroll {
    pointer-events: none;
  }
}
