{{- if site.Params.favicon -}}
  {{- with site.Params.svgFavicon -}}
    <link rel="icon" type="image/svg+xml" href="{{ . }}" />
    {{- with site.Params.svgFaviconFallback -}}
      <link rel="icon" type="image/png" href="{{ . }}" />
    {{- end -}}
  {{- else -}}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  {{- end -}}
{{- end -}}
