{{/* fingerprint */}}
{{- $fingerprint := .Scratch.Get "fingerprint" | default "" -}}

{{/* critical style */}}
{{- $style := dict "Source" "scss/critical.scss" "Fingerprint" $fingerprint -}}
{{- $options := dict "enableSourceMap" true "includePaths" (slice "node_modules") -}}
{{- $style = dict "Context" . "ToCSS" $options "Inline" true | merge $style -}}
{{- partial "plugin/style.html" $style -}}

{{- $style := dict "Link" "/bundled/css/main.css" "Defer" true -}}
{{- partial "plugin/style.html" $style -}}

{{/* fuck safari */}}
<script>
  function z() {
    const r = document.querySelector(':root')
    r.style.setProperty('--window-height', `${window.innerHeight}px`)
  }
  z()
  window.addEventListener('resize', z, { passive: true })
</script>

{{/* main js */}}
{{- $script := dict "Link" "/bundled/js/main.js" "Defer" true "Esm" true -}}
{{- partial "plugin/script.html" $script -}}

{{/* fonts */}}
<link rel="preload" href="/lib/fonts/fw.woff2" as="font" crossorigin />
{{- if (partial "function/langCode.html" (slice "en" "de" "fr" "es" "it")) -}}
  <link rel="preload" href="/lib/fonts/GeistVF.woff2" as="font" crossorigin />
{{- else if (partial "function/langCode.html" (slice "zh-cn" "zh-sg")) -}}
  <link rel="preload" href="/lib/fonts/NotoSans-Regular.woff2" as="font" crossorigin />
  <link
    rel="preload"
    href="/lib/fonts/NotoSansCJKsc-Regular.woff2"
    as="font"
    crossorigin
  />
{{- else if (partial "function/langCode.html" (slice "zh-tw" "zh-hk" "zh-mo")) -}}
  <link rel="preload" href="/lib/fonts/NotoSans-Regular.woff2" as="font" crossorigin />
  <link
    rel="preload"
    href="/lib/fonts/NotoSansCJKtc-Regular.woff2"
    as="font"
    crossorigin
  />
{{- else if (partial "function/langCode.html" (slice "ja")) -}}
  <link rel="preload" href="/lib/fonts/NotoSans-Regular.woff2" as="font" crossorigin />
  <link
    rel="preload"
    href="/lib/fonts/NotoSansCJKjp-Regular.woff2"
    as="font"
    crossorigin
  />
{{- else if (partial "function/langCode.html" (slice "ko")) -}}
  <link rel="preload" href="/lib/fonts/NotoSans-Regular.woff2" as="font" crossorigin />
  <link
    rel="preload"
    href="/lib/fonts/NotoSansCJKkr-Regular.woff2"
    as="font"
    crossorigin
  />
{{- else if (partial "function/langCode.html" (slice "ta")) -}}
  <link rel="preload" href="/lib/fonts/NotoSans-Regular.woff2" as="font" crossorigin />
  <link
    rel="preload"
    href="/lib/fonts/NotoSansTamil-Regular.woff2"
    as="font"
    crossorigin
  />
{{- end -}}
