html {
  font-family: $global-font-family;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  line-height: 1.5;
}