{{- define "main" -}}
  {{- $params := .Scratch.Get "params" -}}
  {{- $currentPage := . -}}
  {{- with partial "function/currentMenuItem.html" . -}}
    {{- partial "resources/imageJSON.html" (dict "Path" .DirName "Page" $currentPage) -}}
    <script>document.getElementById("main").setAttribute("currentMenuItemIndex", "{{- (sub .ID 1) -}}")</script>
  {{- end -}}
  <div class="container">
    {{- partial "nav.html" . -}}
  </div>
  <article class="info">
    {{ .Content }}
  </article>
{{- end -}}
