@font-face {
  font-family: 'Geist';
  src:
    url('/lib/fonts/GeistVF.woff2') format('woff2 supports variations'),
    url('/lib/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK SC';
  src: url('/lib/fonts/NotoSansCJKsc-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('/lib/fonts/NotoSansCJKtc-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('/lib/fonts/NotoSansCJKjp-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('/lib/fonts/NotoSansCJKkr-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/lib/fonts/NotoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FW';
  src: url('/lib/fonts/fw.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/lib/fonts/NotoSansTamil-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
