@font-face {
  font-family: 'Geist';
  src: url('/lib/fonts/GeistVF.woff2') format('woff2');
  font-weight: 90;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'fw';
  src: url('/lib/fonts/fw.svg') format('svg');
  font-display: swap;
}
