@font-face {
  font-family: 'Geist';
  src:
    url('/lib/fonts/GeistVF.woff2') format('woff2 supports variations'),
    url('/lib/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
