.imagesMobile {
  height: 100vh;
  overflow: scroll;
  position: relative;
  
  img {
    height: 20vh;
    width: 60vw;
    object-fit: contain;
    position: sticky;
    top: 50vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20vh;
  }
}