.image {
  height: 55vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  
  img {
    height: 55vmin;
    width: auto;
  }
}

.inactive {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.active {
  opacity: 1;
  transition: opacity 0ms ease-in-out;
}