.overlay_cursor {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  font-size: 19px;
  box-sizing: border-box;
  cursor: none;
  user-select: none;
  
  .cursor_innerText {
    color: white;
    transform: translate3d(-50%, -50%, 0);
  }
}