<div class='desktopWrapper'>
  {{ partial "overlay.html" . }}
<!--  <div class='images'></div>-->
  <div class="image_container" id="layer15" data-status="null"></div>
  <div class="image_container" id="layer14" data-status="null"></div>
  <div class="image_container" id="layer13" data-status="null"></div>
  <div class="image_container" id="layer12" data-status="null"></div>
  <div class="image_container" id="layer11" data-status="null"></div>
  <div class="image_container" id="layer10" data-status="null"></div>
  <div class="image_container" id="layer9" data-status="null"></div>
  <div class="image_container" id="layer8" data-status="null"></div>
  <div class="image_container" id="layer7" data-status="null"></div>
  <div class="image_container" id="layer6" data-status="null"></div>
  <div class="image_container" id="layer5" data-status="null"></div>
  <div class="image_container" id="layer4" data-status="null"></div>
  <div class="image_container" id="layer3" data-status="null"></div>
  <div class="image_container" id="layer2" data-status="null"></div>
  <div class="image_container" id="layer1" data-status="null"></div>
</div>