<div class="footer_name">spedon</div>
<div class="footer_categoryWrapper">
    <span class="footer_category">Featured</span>
    <span class="footer_category">iPhone</span>
    <span class="footer_category">Film</span>
    <span class="footer_category">Info</span>
</div>
<div class="footer_threshold">
    Threshold:
    <button>-</button>
    <span>0080</span>
    <button>+</button>
</div>
<div class="footer_imageIndex">
    <span class="ftid"></span>
    <span class="ftid"></span>
    <span class="ftid"></span>
    <span class="ftid"></span>
    <span>&nbsp;/</span>
    <span class="ftid"></span>
    <span class="ftid"></span>
    <span class="ftid"></span>
    <span class="ftid"></span>
</div>