<nav>
  <div class="navArtist">
    <a href="/">Bridget Baker</a>
  </div>
  <div class="links">
    {{- $index := 0 -}}
    {{- $menus := .Site.Menus.main -}}
    {{- $len := len $menus }}
    {{- range $menus -}}
      {{- $url := .URL | relLangURL -}}
      {{- if eq (add $index 1) $len -}}
        <a href="{{- .URL | relLangURL -}}" class="link">{{- .Identifier -}}</a>
      {{- else -}}
        <a href="{{- .URL | relLangURL -}}" class="link">{{- .Identifier -}}</a>,&nbsp
      {{- end -}}
      {{- $index = add $index 1 -}}
    {{- end -}}
  </div>
  <div class="threshold">
    <span>Threshold:</span>
    <span>
      <button class="dec">－</button>
      <span class="num"></span><span class="num"></span><span class="num"></span
      ><span class="num"></span>
      <button class="inc">＋</button>
    </span>
  </div>
  <div class="index">
    <span class="num"></span><span class="num"></span><span class="num"></span
    ><span class="num"></span>
    <span>/</span>
    <span class="num"></span><span class="num"></span><span class="num"></span
    ><span class="num"></span>
  </div>
</nav>
