<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {{- partial "head.html" . -}}
  <title>{{ .Title }}</title>
</head>
<body>
<header>
  {{- partial "header.html" . -}}
</header>
<div id="main">
  {{ $sourcePath := "images" }}
  {{ $gallery := site.GetPage $sourcePath }}
  {{ $images := $gallery.Resources.ByType "image" }}
  {{ $index := len $images }}
  <script type="text/javascript">
    document.body.setAttribute('featuredPicNum', {{ $index }})
  </script>
  {{ range $images }}
    {{ $index = sub $index 1}}
    <img class="image" data-index="{{ $index }}" data-status="inactive" src="{{ .RelPermalink }}" height="{{ .Height }}" width="{{ .Width }}"/>
  {{ end }}

</div>
<footer>
  {{ partial "footer.html" . }}
</footer>
</body>
</html>
