<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {{- partial "head.html" . -}}
  <title>{{ .Title }}</title>
</head>
<body>
<header>
  {{- partial "header.html" . -}}
</header>
<div class="overlay">
  <section class="prev_section"></section>
  <section class="close_section"></section>
  <section class="next_section"></section>
  <div class="overlay_cursor"></div>
</div>
<div id="main">
  {{ $sourcePath := "images" }}
  {{ $gallery := site.GetPage $sourcePath }}
  {{ with $gallery.Resources.ByType "image" }}
    {{ $index := len . }}
    {{ $.Scratch.Add "img" slice }}
    {{ range . }}
      {{ $index = sub $index 1}}
      {{ $.Scratch.Add "img" (dict "index" (string $index) "url" (string .RelPermalink) "height" (string .Height) "width" (string .Width)) }}
    {{ end }}
    <script id="images_array" type="application/json">{{ $.Scratch.Get "img" | jsonify | safeJS }}</script>
  {{ end }}
  <div class="image_container" id="layer5" data-status="null"></div>
  <div class="image_container" id="layer4" data-status="null"></div>
  <div class="image_container" id="layer3" data-status="null"></div>
  <div class="image_container" id="layer2" data-status="null"></div>
  <div class="image_container" id="layer1" data-status="null"></div>
</div>
<footer>
  {{ partial "footer.html" . }}
</footer>
</body>
</html>
